body{
  font-family: sans-serif;
}

.lila{
  background-color: hsl(260 70% 50% / 1);
}

.searchbar{
  background-color: #1d0b41;
}

p, a{
  color: white;
}

.btn-lila{
  background-color: #532d9f;
  color: white;
}
.btn-lila:hover{
  background-color: #6226d9 !important; 
}
.textgrey{
  color: #bfbfbf;
}

.textlila{
  color: hsl(260 70% 50% / 1);
}
.textgreysecond{
  color: #737373;
}